project/dev/all.html
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>RussianFoodUSA / Index</title>
      <meta content="" name="description">
      <meta content="" name="keywords">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta content="telephone=no" name="format-detection">
      <meta name="HandheldFriendly" content="true">
      <link rel="stylesheet" href="assets/css/main.css">
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap" rel="stylesheet">
      <link rel="stylesheet" href="assets/css/index.css">
      <link rel="icon" type="image/x-icon" href="favicon.ico"><!--[if lt IE 9 ]>
<script src="/assets/js/separate-js/html5shiv-3.7.2.min.js" type="text/javascript"></script><meta content="no" http-equiv="imagetoolbar">
<![endif]-->
  </head>
  <body>
      <!-- Loader-->
      <div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div>
      <!-- Loader end-->
    <div class="l-theme">
      <main class="l-content">
        <div class="container">
          <div class="section-default text-center pb-5">
            <h1>Pages</h1>
            <ol class="list-page" style="text-align: left;">
              <li><a class="text-success" href="index.html" target="_blank">Home</a></li>
              <li><a class="text-success" href="categories.html" target="_blank">Categories</a></li>
              <li><a class="text-success" href="catalog.html" target="_blank">Catalog</a></li>
              <li><a class="text-success" href="goods-item.html" target="_blank">Product card</a></li>
              <li><a class="text-success" href="wish.html" target="_blank">Wish list</a></li>
              <li><a class="text-success" href="about.html" target="_blank">About</a></li>
              <li><a class="text-success" href="contacts.html" target="_blank">Contacts</a></li>
              <li><a class="text-success" href="payment.html" target="_blank">Payment and Shipping</a></li>
              <li><a class="text-success" href="ui.html" target="_blank">UI</a></li>
              <li><a class="text-success" href="payment-new.html" target="_blank">New Payment and Shipping</a></li>
              <li><a class="text-success" href="cart-empty.html" target="_blank">New Cart empty</a></li>
              <li><a class="text-success" href="cart.html" target="_blank">New Cart</a></li>
              <li><a class="text-success" href="checkout-new.html" target="_blank">New Checkout</a></li>
              <li><a class="text-success" href="checkout-new-2.html" target="_blank">New Checkout 2</a></li>
            </ol>
          </div>
        </div>
      </main>
      <div class="page__buffer"></div>
        <footer class="footer">
          <div class="container">
            <div class="row">
              <div class="col-xl-10 offset-xl-1">
                <div class="footer__main row">
                  <div class="col-lg-7">
                    <div class="row">
                      <div class="col">
                        <div class="footer__section">
                          <div class="footer__title">Information</div>
                          <ul class="footer-list list-unstyled">
                            <li class="footer-list__item"><a class="footer-list__link" href="#">Contact us</a></li>
                            <li class="footer-list__item"><a class="footer-list__link" href="#">About Us</a></li>
                            <li class="footer-list__item"><a class="footer-list__link" href="#">FAQ</a></li>
                            <li class="footer-list__item"><a class="footer-list__link" href="#">Blog</a></li>
                            <li class="footer-list__item"><a class="footer-list__link" href="#">Careers</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col">
                        <div class="footer__section">
                          <div class="footer__title">Special</div>
                          <ul class="footer-list list-unstyled">
                            <li class="footer-list__item"><a class="footer-list__link" href="#">Brands</a></li>
                            <li class="footer-list__item"><a class="footer-list__link" href="#">Special offers</a></li>
                            <li class="footer-list__item"><a class="footer-list__link" href="#">Sitemap</a></li>
                            <li class="footer-list__item"><a class="footer-list__link" href="#">New Arrivals</a></li>
                            <li class="footer-list__item"><a class="footer-list__link" href="#">On sale!</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5">
                    <div class="row justify-content-between">
                      <div class="col col-lg">
                        <div class="footer__section">
                          <div class="footer__title">My Account</div>
                          <ul class="footer-list list-unstyled">
                            <li class="footer-list__item"><a class="footer-list__link" href="#">My account</a></li>
                            <li class="footer-list__item"><a class="footer-list__link" href="#">Address book</a></li>
                            <li class="footer-list__item"><a class="footer-list__link" href="#">Order history</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col col-lg-auto">
                        <div class="footer__section">
                          <div class="footer__title">My Account</div>
                          <ul class="footer-soc list-unstyled">
                            <li class="footer-soc__item"><a class="footer-soc__link" href="#">
            <svg class="ic" width="20" height="20">
                <use xlink:href="../svg-symbols.svg#youtube"></use>
            </svg>
        </a></li>
                            <li class="footer-soc__item"><a class="footer-soc__link" href="#">
            <svg class="ic" width="20" height="20">
                <use xlink:href="../svg-symbols.svg#pinterest"></use>
            </svg>
        </a></li>
                            <li class="footer-soc__item"><a class="footer-soc__link" href="#">
            <svg class="ic" width="20" height="20">
                <use xlink:href="../svg-symbols.svg#instagram"></use>
            </svg>
        </a></li>
                            <li class="footer-soc__item"><a class="footer-soc__link" href="#">
            <svg class="ic" width="20" height="20">
                <use xlink:href="../svg-symbols.svg#twitter"></use>
            </svg>
        </a></li>
                            <li class="footer-soc__item"><a class="footer-soc__link" href="#">
            <svg class="ic" width="20" height="20">
                <use xlink:href="../svg-symbols.svg#facebook"></use>
            </svg>
        </a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="copyright">
                  <div class="row justify-content-between flex-lg-row-reverse">
                    <div class="col-auto"><a class="copyright__link" href="#">Privacy Notice</a><a class="copyright__link" href="#">Terms of Use</a><a class="copyright__link" href="#">Payment and Shipping</a></div>
                    <div class="col-auto">
                      <div class="copyright__info">Copyright © 2019 RussianFoodUSA</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footer>
        <!-- .footer-->
        <div class="ui-modal modal modal_right fade" id="modalLocation" tabindex="-1" role="dialog" aria-labelledby="modalLocationLabel" aria-hidden="true" data-backdrop="static">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <form class="b-modal-location">
                <div class="ui-title ui-title_ls_compact ui-modal__title" id="modalLocationLabel">Change Location</div>
                <div class="ui-modal__info">Nisi suscipit fermentum nisl duis commodo cum ornare rutrum imperdiet blandit loborti felis aliquam.</div>
                <div class="b-modal-location__wrap">
                  <div class="b-modal-location__inner">
                    <div class="b-modal-location__group row">
                      <div class="b-modal-location__col col">
                        <div class="b-modal-location__item">
                          <input class="form-check-input d-none" type="radio" name="location" id="location1" value="option1">
                          <label class="b-modal-location__radio form-check-label js-location" for="location1"><span class="b-modal-location__ic">
            <svg class="ic fill-primary" width="5.34vh" height="5.34vh">
                <use xlink:href="../svg-symbols.svg#flag-usa"></use>
            </svg>
        </span><span class="b-modal-location__radio-title">Across USA</span></label>
                        </div>
                      </div>
                      <div class="b-modal-location__col col">
                        <div class="b-modal-location__item">
                          <input class="form-check-input d-none" type="radio" name="location" id="location2" value="option1">
                          <label class="b-modal-location__radio form-check-label js-location" for="location2"><span class="b-modal-location__ic">
            <svg class="ic fill-primary" width="5.34vh" height="5.34vh">
                <use xlink:href="../svg-symbols.svg#city"></use>
            </svg>
        </span><span class="b-modal-location__radio-title">Delivery to  Manhattan</span></label>
                        </div>
                      </div>
                      <div class="b-modal-location__col col">
                        <div class="b-modal-location__item">
                          <input class="form-check-input d-none" type="radio" name="location" id="location3" value="option1">
                          <label class="b-modal-location__radio form-check-label js-location" for="location3"><span class="b-modal-location__ic">
            <svg class="ic fill-primary" width="5.34vh" height="5.34vh">
                <use xlink:href="../svg-symbols.svg#globe"></use>
            </svg>
        </span><span class="b-modal-location__radio-title">International</span></label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group text-left js-input">
                      <label class="ui-form-label">zip code</label>
                      <input class="form-control" type="text" placeholder="Enter Your Zip Code">
                    </div>
                  </div>
                </div>
                <button class="ui-modal__btn btn btn-primary js-location-btn" disabled data-dismiss="modal" aria-label="Close">start shopping</button>
                <div class="ui-modal__note">Nisi suscipit fermentum nisl duis commodo cum ornare rutrum.</div>
              </form>
            </div>
          </div>
        </div>
        <!-- end .b-modal-location-->
        
    </div>
    <!-- end .l-theme-->
    <script src="/assets/js/separate-js/svg4everybody.min.js"></script>
    <script>svg4everybody();</script>
    <!-- ++++++++++++-->
    <!-- MAIN SCRIPTS-->
    <!-- ++++++++++++-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
    <!-- Bootstrap-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Main script-->
    <script src="assets/js/main.js"></script>
    <!-- User customization-->
    <script src="assets/js/custom.js"></script>
  </body>
</html>

project/markup/pages/all.pug
extends _template.pug

block head
  head
    +head(head.defaults)

block content

  main.l-content
    .container

      .section-default.text-center.pb-5
        h1 Pages
        ol.list-page(style="text-align: left;")
          li
            a.text-success(href="index.html" target="_blank") Home
          li
            a.text-success(href="categories.html" target="_blank") Categories
          li
            a.text-success(href="catalog.html" target="_blank") Catalog
          li
            a.text-success(href="goods-item.html" target="_blank") Product card
          li
            a.text-success(href="wish.html" target="_blank") Wish list
          li
            a.text-success(href="about.html" target="_blank") About
          li
            a.text-success(href="contacts.html" target="_blank") Contacts
          li
            a.text-success(href="payment.html" target="_blank") Payment and Shipping
          li
            a.text-success(href="ui.html" target="_blank") UI
          li
            a.text-success(href="payment-new.html" target="_blank") New Payment and Shipping
          li
            a.text-success(href="cart-empty.html" target="_blank") New Cart empty
          li
            a.text-success(href="cart.html" target="_blank") New Cart
          li
            a.text-success(href="checkout-new.html" target="_blank") New Checkout
          li
            a.text-success(href="checkout-new-2.html" target="_blank") New Checkout 2

  .page__buffer
